<h1><%= @cocktail.name %></h1>
<br>
<ul>
  <% @cocktail.doses.each do |dose| %>
  <li>
    <%= dose.description %>
    <%= dose.ingredient.name %>
    <<%= link_to dose_path(dose),
      method: :delete,
      data: { confirm: "Are you sure?" } do %>
      <i class="far fa-trash-alt"></i>
      <% end %>
  </li>
  <% end %>
</ul>

<p><%= link_to "Create your doses", new_cocktail_dose_path(@cocktail), class: 'btn btn-primary' %></p>
<br>
<p><%= link_to "Back to your cocktails", cocktails_path, class: 'btn btn-primary' %></p>
